* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 100%;
}

.container {
    margin: 0 317px;
    max-width: 1319px;
}

button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(245, 14, 48, 1);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: .7s ease;
}
button:hover {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(244, 246, 248, 1);
}

.header-content {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlist,
.social {
    display: flex;
    align-items: center;
}

.navlist {
    gap: 40px;
}

.navlink a {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.navlink a:hover {
    
    color: rgba(250, 0, 44, 1);
}

.social {
    gap: 12px;
}

.banner-content {
    margin-top: 121px;
    display: flex;
    margin-bottom: 200px;
}

.banner-text h1 {
    font-weight: 900;
    font-size: 52px;
    line-height: 62px;
    color: rgba(0, 0, 0, 1);
    width: 672px;
}

.banner-text p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    width: 600px;
}

.order {
    margin-top: 44px;
    padding: 8px 32px;
    font-size: 24px;
    font-weight: 700;
}

.banner-car {
    position: relative;
    
}


.car {
    position: absolute;
    left: -70px;
}


.before {
    background-color: rgba(244, 246, 248, 1);
}

.before-text {
    padding-top: 129px;
}

.before-text h1 {
    text-align: center;
    
    color: rgba(0, 0, 0, 1);
    font-size: 44px;
    font-weight: 800;
}

.before-text p {
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
}

.order1 {
    padding: 8px 40px;
    margin-top: 28px;
    margin-left: 519px;
    font-size: 20px;
    font-weight: 600;
}

.before-blocks {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 100px;
}

.before-block {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width: 411px;
    height: 264px;
}

.before-block h3 {
    font-size: 36px;
    font-weight: 700;
    margin: 24px 0 27px 32px;
}

.before-block p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 32px;
}

.o_nas {
    display: flex;
}


.rightside {
    padding: 52px 100px;
}

.onas-text h1 {
    font-size: 44px;
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 12px;
}
.onas-text p {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    width: 524px;
}

.achivments {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.achivments img {
    padding: 10px;

    border-radius: 3rem;
    background-color: rgba(245, 14, 48, 1);
}

.achivments h4 {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.onas-vazno {
    margin-top: 24px;
    width: 488px;
    padding: 12px 20px;
    border: 3px solid rgba(250, 0, 44, 0.15);
    border-radius: 10px;
}

.onas-vazno h3 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.order3 {
    margin-top: 32px;
    padding: 8px 40px;
    font-size: 20px;
    font-weight: 600;
}